<a href="https://colab.research.google.com/github/yuna778/DALC_Scala/blob/main/Pandas_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 기초 및 실습
### 2. Pandas의 사용법
</br>

##### 1) Pandas 설치
* Pandas 개요
  * 1) 정의
    * 데이터의 형태와 속성이 다양
    * 다양한 데이터를 일관성 있게 동일한 형태로 통합 필요
    * Pandas 라이브러리
  * 2) 특징
    * 서로 다은 유형의 데이터를 공통의 형식으로 정리
    * 1차원 배열인 Series, 2차원 배열인 DataFrame 제공
    * 고수준의 연산 수행 가능

* Pandas 임포트 및 버전 확인

In [1]:
import pandas
pandas.__version__

'1.1.5'

In [2]:
import numpy as np
import pandas as pd

##### 2) Pandas 객체


* Series와 DataFrame의 구조


* Series 구조
</br>![시리즈 구조](https://ifh.cc/g/sSKUKR.jpg)
</br>

* DataFrame 구조
</br>![데이터프레임 구조](https://ifh.cc/g/4NQlOK.jpg)
  * 통합 인덱싱을 활용하여 데이터 조작 가능

</br>

##### 3) Series
* 리스트를 인자로 사용하여 시리즈 객체 생성

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

  * values으로 접근 가능

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

  * index 속성으로 접근 가능

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

* 파이썬 대괄호 표기법을 통해 접근 가능

In [6]:
data[1]

0.5

- 인덱스와 슬라이싱 방식 사용

In [ ]:
data[1:3]

* Index
  * 정수일 필요가 없으며 어떤 타입의 값으로도 구성 가능
  * 인덱스로 문자열 사용 가능

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

  * 문자열 인덱스로 항목에 접근 가능

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data['a']

0.25

* 인접하지 않거나 연속적이지 않은 인덱스를 사용하여 임의로 만들 수 있음

In [12]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [13]:
data[5]

0.5

* 딕셔너리 구조
 * 일련의 임의의 값에 임의의 키를 매핑하는 구조
 * 타입이 지정된 키를 일련의 타입이 지정된 값에 매핑하는 구조

</br>

![딕셔너리 구조](https://ifh.cc/g/FWVyhm.jpg)
- 딕셔너리 키(k)는 Series의 __인덱스__로 대응
- 딕셔너리 값(v)는 Series의 __데이터 값__으로 변환

</br>

* 딕셔너리로부터 시리즈를 만드는 예

In [15]:
population_dict = {'California': 38332521, 'Texas': 26448393, 'New York': 19651127, 'Florida': 19552860, 'lllinois': 12882135}

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
lllinois      12882135
dtype: int64

* 딕셔너리 정의 = {'키 값': value}

In [16]:
population = pd.Series(population_dict)
population

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
lllinois      12882135
dtype: int64

* 인덱스가 정렬된 키에서 추출되는 경우 값을 불러옴

In [17]:
population['California']

38332521

* 슬라이싱 같이 배열 스타일의 연산 지원

In [23]:
population['California' : 'lllinois']

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
lllinois      12882135
dtype: int64

* 객체 구성하기
 * pd.Series(data, index=index)
   * index는 옵션이기 때문에 생략 가능  
   기본값 : 0부터 연속된 정수수
 * data: 리스트 혹은 Numpy 배열, index: 생략 가능
    * pd.Series([2, 4, 6])

In [24]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

* Data가 딕셔너리일 경우에는 기본적으로 딕셔너리 키로 정렬해서 취함

In [25]:
dic_data = {2:'a', 1:'b', 3:'c'}
dic_data

{1: 'b', 2: 'a', 3: 'c'}

* Series 객체는 요소 값들이 입력된 순서대로 출력

In [26]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

* 각각 다른 결과를 얻고 싶으면 인덱스를 명시적으로 설정

In [27]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

##### 3) DataFrame
</br>

* 구성 방법
</br>

![데이터프레임 구조](https://ifh.cc/g/bsUOac.jpg)
  * 열 인덱스 : 열 이름
  * 데이터프레임 : 행 인덱스와 열 이름을 갖는 행렬 = __Series 객체의 연속__

In [28]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'lllinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
lllinois      149995
dtype: int64

* DataFrame stated

In [29]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448393  695662
New York      19651127  141297
Florida       19552860  170312
lllinois      12882135  149995

* 인덱스 라벨을 이용하여 요솟값에 접근할 수 있는 index 속성을 가짐

In [30]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'lllinois'], dtype='object')

* 열 라벨을 나타내는 index 객체인 columns 속성도 가짐

In [31]:
states.columns

Index(['population', 'area'], dtype='object')

* 열 이름을 인덱스로 지정하면 열 데이터로 이루어진 Series에 매핑

In [32]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
lllinois      149995
Name: area, dtype: int64

* 데이터 구성하기
  * 단일 Series로부터 DataFrame 구성 가능

In [33]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448393
New York      19651127
Florida       19552860
lllinois      12882135

In [34]:
pd.DataFrame(population, index=['Texas'], columns=['population'])

       population
Texas    26448393

* 누락된 자리는 NaN(not a number) 값으로 채움

In [35]:
pd.DataFrame([{'a': 1, 'b': 2,}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

* 여러 개의 Series 객체로부터 DataFrame 구성 가능

In [36]:
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448393  695662
New York      19651127  141297
Florida       19552860  170312
lllinois      12882135  149995

* 2차원 배열에 열 이름과 인덱스를 지정하여 DataFrame 생성 가능

In [37]:
pd.DataFrame(np.random.rand(3,2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.514623  0.146593
b  0.490104  0.601368
c  0.891765  0.464589